:root {
  --red50: '#FFF3F3',
  --red100: '#FFD4D4',
  --red200: '#FAABAB',
  --red300: '#F98686',
  --red400: '#F56060',
  --red500: '#FB4846',
  --red600: '#D83F3E',
  --red700: '#B83130',
  --red800: '#961D1C',
  --black0: '#FFFFFF',
  --black50: '#FAF8F8',
  --black100: '#E8E8E8',
  --black200: '#C4C4C4',
  --black300: '#878585',
  --black400: '#645F5F',
  --black500: '#302C2C',
  --black600: '#1B1717',
  --error50: '#FFF7EF',
  --error500: '#F0790B',
  --subBlue50: '#F1F3FF',
  --subBlue400: '#5166D3',

  // size
  --sidebar-width : 1.875rem;
}

:root[color-theme="dark"],
.dark-mode {
  --red50: '#FFF3F3',
  --red100: '#FFD4D4',
  --red200: '#FAABAB',
  --red300: '#F98686',
  --red400: '#F56060',
  --red500: '#FB4846',
  --red600: '#D83F3E',
  --red700: '#B83130',
  --red800: '#961D1C',
  --black0: '#FFFFFF',
  --black50: '#FAF8F8',
  --black100: '#E8E8E8',
  --black200: '#C4C4C4',
  --black300: '#878585',
  --black400: '#645F5F',
  --black500: '#302C2C',
  --black600: '#1B1717',
  --error50: '#FFF7EF',
  --error500: '#F0790B',
  --subBlue50: '#F1F3FF',
  --subBlue400: '#5166D3',
}
